@import "tailwindcss";

@reference "tailwindcss";

/* Global Styles */
body {
  background-color: #0d0d0d;
  color: #e5e5e5;
  font-family: "JetBrains Mono", monospace;
}

html {
  scroll-behavior: smooth;
}

/* Soft glow around sections */
@layer components {
  .section {
    @apply border border-gray-800 rounded-xl shadow-[0_0_20px_rgba(59,130,246,0.1)] transition-all;
  }

  .section:hover {
    @apply shadow-[0_0_30px_rgba(147,51,234,0.3)];
  }
}
a:hover {
  text-shadow: 0 0 8px rgba(147, 51, 234, 0.7);
  color: #a855f7;
  transition: all 0.3s ease-in-out;
}
